body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  padding: 20px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  margin-right: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

h3 {
  margin: 0;
}

.width {
  display: flex;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid #aaa9a947 !important;
  border-collapse: collapse;
  font-style: normal;
  text-align: center;

}

.width-head {
  align:left;
}

.right-content{
  display: flex;
  flex-direction: column;
}

.width-head td{
}

table {
  margin-top: 20px;
}

input{
  width: 100%;
  text-align: center;
  background: none;
  outline: none;
}

td {
  min-width: 46px;
  cursor: pointer;
}

.layers{
  border: 1px solid black;
  padding: 20px;
  width: 200px;
}

.active-layer{
  color: rgb(224, 6, 6);
}
.layer{
  display: flex;
  justify-content: space-between;
  color: #000;
}

.subLayer{
  margin-left: 10px;
  display: none;
  color: #000;
}

.active-layer .subLayer{
  display: flex;
}

.container{
  display: flex;
    justify-content: space-around;
}

.active{
  background-color: #b5b5d5;
}