*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}



/* Nav Bar */

.navBar{
  background-color: rgb(214, 214, 214);
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
}

.navBar-Title{}

.navBar-menu{}

.navBar-menu ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navBar-menu ul li{
  margin-right: 20px;
  cursor: pointer;
}



/* Raw Materials Table */

.rawMaterialsTable{}

.rawMaterialsTable-Name{
  margin: 10px;
  font-size: 40px;
}

.rawMaterialsTable-Button{
  font-size: 30px;
}

.rawMaterialsTable table{
  margin: 10px auto;
  border-collapse: collapse;
}

.rawMaterialsTable table tr th, .rawMaterialsTable table tr td{
  border: 1px solid black;
  padding: 5px 10px;
}


